* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #1f2c44 !important;
	font-family: 'Lato', sans-serif !important;
}

/* Images */
img {
	width: 100%;
	height: auto;
	display: block;
}

/* Links */
a {
	color: #6c757d !important;
}

a:link {
	text-decoration: none;
}

a:hover,
a:focus {
	color: #48968e !important;
}

/* List Items */

li {
	list-style-type: none;
}

/* Navbar */
nav.navbar {
	min-height: 80px;
}

/* Main */
main {
	padding-top: 80px;
}

/* Section */
section {
	min-height: calc(100vh - 80px);
	position: relative;
}

/* Card */
/* .card {
	border: 1px solid #d7eeee !important;
} */

/* Form */

.form-card {
	border-radius: 25px !important;
	overflow: hidden;
	color: rgb(29, 29, 29);
}

/* Buttons */
.btn {
	border-radius: 100px !important;
	padding: 0.5em 2em !important;
}

.btn:focus {
	outline: none;
	box-shadow: none;
}

.btn-primary,
.btn-primary-outline {
	font-weight: 700 !important;
	text-transform: capitalize;
}

.btn-primary-outline {
	background-color: #fff !important;
	border-color: #77c1ba !important;
	color: #77c1ba !important;
}

.btn-primary-outline:hover,
.btn-primary-outline:focus {
	background-color: #d7eeee !important;
	border-color: #d7eeee !important;
	color: #77c1ba !important;
}

.btn-primary {
	background-color: #77c1ba !important;
	border-color: #77c1ba !important;
	color: #fff !important;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #48968e !important;
	border-color: #48968e !important;
	color: #fff !important;
}

/* Video Player */
.react-player {
	padding: 15px;
	border: 1px solid rgb(218, 218, 218);
	border-radius: 10px;
	overflow: hidden;
}

.profile-picture-large {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border: 1px solid rgb(203, 203, 203);
	border-radius: 50%;
	margin: 0 10px;
}
